.DS_Store
xcuserdata
xcuserdata/
*.xcuserstate
healthvault-ios-sdk/Tools/codegen/output
healthvault-ios-sdk/Tools/codegen/KHV*

Samples/Demos/Health2.0/HelloHealthVault/HelloHealthVault/Code.txt

*.xccheckout
