//
// {{classname}}.h
// MHVLib
//
{{>licenceInfo}}

#import <Foundation/Foundation.h>
#import "MHVRemoteMonitoringClient.h"
{{#imports}}#import "{{import}}.h"
{{/imports}}


NS_ASSUME_NONNULL_BEGIN

@interface MHVRemoteMonitoringClient ({{classname}})

{{#operations}}
{{#operation}}
/// {{{summary}}}
/// {{#notes}}{{{notes}}}{{/notes}}
///
/// {{#allParams}}@param {{paramName}} {{description}}{{^required}} (optional){{/required}}{{#defaultValue}} (default to {{{.}}}){{/defaultValue}}
/// {{/allParams}}
- (void){{#vendorExtensions.x-objc-operationId}}{{vendorExtensions.x-objc-operationId}}{{/vendorExtensions.x-objc-operationId}}{{^vendorExtensions.x-objc-operationId}}{{nickname}}{{#hasParams}}With{{vendorExtensions.firstParamAltName}}{{/hasParams}}{{^hasParams}}WithCompletion:{{/hasParams}}{{/vendorExtensions.x-objc-operationId}}{{#allParams}}{{#secondaryParam}}
    {{paramName}}{{/secondaryParam}}:({{{dataType}}} {{^required}}_Nullable{{/required}}){{paramName}}{{/allParams}}
    {{#hasParams}}completion:{{/hasParams}}(void(^_Nonnull)({{#returnBaseType}}{{{returnType}}} _Nullable output, {{/returnBaseType}}NSError* _Nullable error))completion;

{{newline}}
{{/operation}}
{{/operations}}

@end

NS_ASSUME_NONNULL_END
