//
// {{classname}}.h
// MHVLib
//
{{>licenceInfo}}

#import <Foundation/Foundation.h>

{{#imports}}#import "{{import}}.h"
{{/imports}}
#import "MHVModelBase.h"
#import "MHVEnum.h"
{{newline}}
{{#models}}
{{#model}}

@protocol {{classname}}
@end

NS_ASSUME_NONNULL_BEGIN

{{#model}}
{{#vars}}
{{#isEnum}}
@interface {{classname}}{{enumName}} : MHVEnum
{{#_enum}}
+({{classname}}{{enumName}} *)MHV{{.}};
{{/_enum}}
{{#isContainer}}
{{#items}}
{{#_enum}}
+({{classname}}{{enumName}} *)MHV{{.}};
{{/_enum}}
{{/items}}
{{/isContainer}}
@end
{{/isEnum}}
{{/vars}}
{{/model}}

@interface {{classname}} : MHVModelBase

{{#vars}}
{{#description}}/* {{{description}}} {{^required}}[optional]{{/required}}
 */{{/description}}
{{^isEnum}}
@property(strong,nonatomic{{^required}},nullable{{/required}}) {{#isPrimitiveType}}{{{ datatype }}}{{/isPrimitiveType}}{{^isPrimitiveType}}{{#isContainer}}NSArray<{{complexType}} *>*{{/isContainer}}{{^isContainer}}{{datatype}}{{/isContainer}}{{/isPrimitiveType}} {{name}};
{{/isEnum}}
{{#isEnum}}
@property(strong,nonatomic{{^required}},nullable{{/required}}) {{#isContainer}}NSArray<{{/isContainer}}{{classname}}{{enumName}}{{#isContainer}} *>{{/isContainer}}* {{name}};
{{/isEnum}}
{{/vars}}

@end
{{/model}}
{{/models}}

NS_ASSUME_NONNULL_END